<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index html template</title>
  </head>
  <body>
    <header>
      <nav>
        <button id="player-vs-computer">Play vs computer</button>
      </nav>
    </header>
    <h1></h1>
    <div class="boards-container">
      <div class="player-side">
        <div class="board-and-shipyard-container">
          <div class="player-board-container"></div>
          <div class="player-shipyard-container"></div>
        </div>
      </div>
      <div class="opponent-side">
        <div class="opponent-board-container"></div>
      </div>
    </div>
  </body>
</html>
