<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Battleship</title>
  </head>
  <body>
    <header>
      <h1></h1>
    </header>
    <div class="boards-container">
      <div class="player-side">
        <div class="board-and-shipyard-container">
          <h2>Your board</h2>
          <div class="player-board-container"></div>
          <div class="controls">
            <button class="reset-placement-button">Reset</button>
            <button class="randomize-placement-button">Randomize</button>
          </div>
          <div class="player-shipyard-container"></div>
        </div>
      </div>
      <div class="opponent-side">
        <button class="play-again-button">Play again</button>
        <h2>Opponent's board</h2>
        <div class="opponent-board-container"></div>
      </div>
    </div>
  </body>
</html>
